.container__form__client {
  width: 40rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid lightgray;

  img {
    width: 250px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
  }

  .form__edit__client {
    display: flex;
    flex-direction: column;
    .form__edit__client__buttons {
      button {
        margin-right: 3px;
      }
    }

    div {
      margin: 5px 0px;
      label {
        margin: 1px 0px;
      }
    }
  }
}
