.person__card {
  display: flex;
  flex-direction: column;
  .person__card__picture {
    width: 250px;
    border-radius: 50%;
    border: 1px solid lightgray;
  }
  .person__card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
